extends _layout

block head
  include _head
  +pageHead(
    "static-site-template",
    "static-site-template"
  )

block body
  .container
    h1 static-site-template
    p
      picture
        source(srcset=require('../assets/ofuro_sentou_man.png?sizes[]=500,sizes[]=9999&format=webp').srcSet, type='image/webp')
        img(srcset=require('../assets/ofuro_sentou_man.png?sizes[]=1000').src, alt="")
