<html lang="ja">
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website" />
<meta property="og:title" content="static-site-template" />
<meta property="og:description" content="static-site-template" />
<meta property="og:site_name" content="static-site-template" />
<meta property="og:image" content="<%= require('../assets/ofuro_sentou_man.png')%>" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="static-site-template">
<meta name="twitter:description" content="static-site-template">
<title>static-site-template</title>
</head>
<body>
  <div class="container">
    <h1>static-site-template</h1>
    <p>
      <% img = require('../assets/ofuro_sentou_man.png?sizes[]=600,sizes[]=9999') %>
      <img src="<%= img.src %>" srcset="<%= img.srcSet %>" alt="">
    </p>
  </div>
</body>
</html>
